<header>
	<nav class="navbar">
		<div class="nav-logo">
			<a [routerLink]="['/']">
				<img
					class="logo"
					src="../../../assets/ps-logo.png"
					alt="Logo da Playstation Store"
				>
			</a>
		</div>
		<div class="nav-user">
			<span>My Playstation</span>
			<img
				src="../../../assets/down.svg" alt="User Picture"
			>
			<img
				class="user-pic"
				src="../../../assets/profile-social.jfif" alt="User Picture"
			>
			<img
				src="../../../assets/fav.svg"
				alt="Fav button"
			>
			<img
				src="../../../assets/cart.svg"
				alt="Cart button"
			>
			<img
				class="search-icon"
				src="../../../assets/search.svg"
				alt="Search button"
			>
			<input
				class="search"
				type="text"
				placeholder="Search"
			>
		</div>
	</nav>
</header>
