<section class="discover">
	<header>
		<nav class="discover-navbar">
			<div class="pages-left">
				<ul class="pages-list">
					<li class="page-item">Discover</li>
					<li class="page-item">Explore</li>
				</ul>
			</div>
			<div class="pages-right">
				<ul class="pages-list">
					<li class="page-item">Collections</li>
					<li class="page-item">Deals</li>
					<li class="page-item">Subscriptions</li>
				</ul>
			</div>
		</nav>
	</header>
	<main>
		<h1>Trending</h1>
		<section class="games-section">
			<app-game-card
				gameCover="assets/sackboy.svg"
				gameLabel="Playstation Exclusive"
				gamePrice="99,90R$"
			>
			</app-game-card>
			<app-game-card
				gameCover="assets/cyberpunk-2077.svg"
				gameLabel="Multi Plataforma"
				gamePrice="149,90R$"
			>
			</app-game-card>

		</section>
	</main>
</section>
